header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    background-color: rgb(18, 109, 245);
    font-size: 4vw;
    color:white;
    margin: 0%;
    padding: 1vh;
    height: max-content;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;

    background-color: rgb(224, 230, 240);
    margin-top: 0;
    margin-left: 0;
}

header h1{
    margin: 0%;
    font-size: 5vw;
}

header button{

    width: max-content;
    min-width: 100px;
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    padding: 0.5vw;
    margin-top: 0;
    margin-bottom: 1vw;
    border-radius: 6px;
    border-style: none;
    transition: 0.1s;
    background-color: rgb(204, 213, 255);
}

header button:hover{
    transform: scale(1.05);
    color: white;
    background-color: rgb(133, 154, 248);
}

.main_container
{
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vh;
    width: 80%;
    border: solid black 0.05vw;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#editor{
    margin-top: 0;
    padding-top:0 ;
    width: 99%;
    margin: 10px;
    border: 0cap;
    outline: none;
    min-height: 67vh;
    vertical-align: top;
}


 